Ignore Visual Studio files
.vs/
*.vscode/
*.sln.docstates
*.suo
*.user
*.userprefs
*.pidb

Ignore build output
/bin/
/obj/

Ignore NuGet packages
packages/
*.nupkg
*.pfx

Ignore build artifacts
*.dll
*.exe
*.pdb
*.dll.config
.cache

Ignore Visual Studio Code specific files
.vscode/

Ignore macOS specific files
.DS_Store

Ignore ReSharper files
_ReSharper/

Ignore Rider files
.idea/
*.sln.iml

Ignore test results
TestResults/

Ignore Windows image file caches
Thumbs.db
ehthumbs.db

Ignore backup files
*~
*.bak

Ignore logs and temporary files
*.log
*.tmp